
<h1>Here are the details for @Model.GetName(): </h1>

    <h3>Gender: @Model.GetGender()</h3>
    <h3>Date Admitted: @Model.GetDate()</h3>
    <h3>Breed: @Model.GetBreed()</h3>


<p><a href="/">Return home</a></p>
